h1,h2,h3,h4,h5,h6
{
        font-family: 'Play', sans-serif;
        text-transform: uppercase;
        color:white;
        font-weight:bold;
}

#landing h1
{
	color:white;
        text-shadow: 4px 4px 4px #333333;
        font-family: 'Play', sans-serif;
        text-transform: uppercase;
}

#landing-container
{
    width:100%;
    height:700px;
    background: url(../img/main.jpg) 50% 50% repeat;
}

.button
{
    color: black;
    background-color: white;
        -webkit-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
font-family: 'Play', sans-serif;
text-transform:uppercase;
}

.button:hover
{
    background-color:#ee1d23;
}

.top-bar
{
    -webkit-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
}

#links a
{
    text-transform: uppercase;
font-weight:bold;
border-bottom: 1px #fff;
font-family: 'Play', sans-serif;
font-size:14px;
}

#links a:hover
{

-webkit-transition: all 300ms ease-in;
-moz-transition: all 300ms ease-in;
-ms-transition: all 300ms ease-in;
-o-transition: all 300ms ease-in;
transition: all 300ms ease-in;
}

.dropdown li a:hover
{
    background-color:#ee1d23;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   min-height:100%;
}

#app-container p a
{
    color:#333333;
}

#app-container p a:hover
{
    text-decoration:underline;
    color:#eeeeee;
       -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

#application-container{
    padding-bottom: 20px;
}

.row h3{
    color: black;
}